.SForm
{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
}
.J
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn
{
  padding: 0.25rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
color: #374151; 
font-weight: 600; 
text-transform: uppercase; 
border-radius: 9999px; 
border-width: 2px; 
/* border-color: #374151;  */
text-size-adjust: 12px;
cursor: pointer;
}
.U
{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ut
{
  gap:6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Ut1
{
  gap:6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  
}
.A
{
  gap:2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.At
{
  gap:0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}